

//Submit Button
// Variables
$speed: '0.25s';
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

// Main Styles
.button {
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
    color: #fff;
    cursor: pointer;
    height: 40px;
    left: 0;
    //line-height: 40px;
    margin: 6px;
    right: 0;
    top: 20px;
    width: 140px;
}

.btn-primary {
    -webkit-transition: all 1s ease;
    background-color: map-get($theme-colors, primary);
    border: 1px solid transparent;
    transition: all 1s ease;

    &:hover {
        background-color: map-get($theme-colors, p-dark);
        border: 1px solid map-get($theme-colors, p-light);
    }
}

.btn-secondary {
    -webkit-transition: all 1s ease;
    background-color: map-get($theme-colors, secondary);
    border: 1px solid transparent;
    transition: all 1s ease;

    &:hover {
        background-color: map-get($theme-colors, s-light);
        border: 1px solid map-get($theme-colors, s-dark);
    }
}
