/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

 //theme code-colors
 $theme-colors: (
 	primary: #2b811c,
 	secondary: #212121,

 	p-light: #5fb14b,
 	p-dark: #005300,

 	s-light: #484848,
 	s-dark: #000
);

$settings: (
	theme: dark,
	accent: map-get($theme-colors, primary),
	menu-width: 14rem
);

@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';
